{% extends 'webapp/base.html' %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="jqueryui/jquery-ui.css">
    <link rel="stylesheet" href="jqueryui/jquery-ui.structure.css">
    <link rel="stylesheet" href="jqueryui/jquery-ui.theme.css">

    {% load static %}
    
    {% load blog_tags %}


    

    
    {% block content%}
    <div>
        {% if tag %}
            <h4>Post tagged with {{ tag.name }} </h4>
        {% endif %} 

    


        <div>
        

          <div class="container my-5">
            <div class="border-bottom pb-3 px-2 d-flex justify-content-between">
              <div class="d-flex align-items-center">
                <a href="#" style="color: #9B5DE5; font-size: 20px;" class="text-capitalize font-weight-bold mb-0">Latest Blog</a>
              </div>
                 
            </div>

    



  <div class="container my-5">
    <div class="border-bottom pb-3 px-2 d-flex justify-content-between">
      <div class="row">

      {% for post in article %}

        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
            
              <div class="col-md-4 p-4">
                <div class="border" style="box-shadow: 0 0  20px #eee;">
                  <div class="d-flex p-3 align-items-center">

                      <div class="mt-2">
                        <h6 class="card-title"> <a href="{{ post.get_absolute_url }}"> {{post.title}}  </a> </h6>

                        <a href="#" class="text-dark" style="line-height: .8; font-weight: 200;"> <i class="fa fa-user-circle" aria-hidden="true"></i> {{post.author}} </a> |
                        <small> <i class="fa fa-calendar-plus-o " aria-hidden="true"></i> {{ post.publish }} </small>

                      </div>
                  </div>
                  <img class="w-100" src="{{ post.article_image.url }}" alt="">  
                </div>
              </div><!-- close existing row and open another one-->      
            
      {% endfor %}
            
      </div>
   </div>
  </div>

        </div>
    </div> 
    {% endblock content%}     
    
        {% block sidebar %}
            {% include 'webapp/sidebar.html' %}
        {% endblock sidebar %}
    </div>



<script src="js/jquery.js" type="text/javascript"></script>
<script src="jqueryui/jquery-ui.js" type="text/javascript"></script>

<script>
    $('#datepicker').datepicker({
        numberOfMonths:1,
        changeYear:true,
        changeMonth:true,
        minDate: new Date(2010,9,9),
        maxDate: new Date(2021,0,5)
    })
</script>

