{% extends 'webapp/base.html' %}
    {% load static %}
    {% block content%}
    {% load blog_tags %}

            

        <div>

            <div class='container'>  


            <h3>{{article.title}}    
                    {% if user.id == article.author.id %}    
                        <a href="{% url 'updatepost' article.id %}" class="btn btn-warning btn-sm">Edit <i class="fa fa-pencil-square-o" aria-hidden="true"></i> </a>
                    {% endif %}
            </h3>               
            
            <div class="post-meta d-flex mb-5">
                <div class="bio-pic mr-3">
                {% if article.author.profile.profile_pic %}
                    <img src="{{ article.author.profile.profile_pic.url }}" class="image--cover">
                {% else %}
                    <img src="{% static "images/default_profile.jpg" %}" alt="Image Not Found" class="image--cover">
                {% endif %}
                </div>
                <div class="vcard">
                    <span class="d-block"><a href="#"> {{ article.author }} </a> in <a href="#"> {{article.category}} </a></span>
                    <small class="date-read text-muted"> <i class="fa fa-calendar-plus-o" aria-hidden="true"></i> {{article.publish}} | {{article.read}} mins <i class="fa fa-star" aria-hidden="true"></i> </small>
                </div>
            </div>
            
            
            <p> {{article.overview|safe}} </p>
            <img class="card-img-top image-thumbnail" src="{{article.article_image.url}}" alt="Card image cap">
            <p>{{article.body|safe}} </p> 


            
            <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                <!-- comments -->
                <h2>{{ comments.count }} comments </h2>

                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                    {{ comment.created_on }}
                    </span>
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-8 card mb-4  mt-3 ">
            <div class="card-body">
                {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
                {% else %}
                <h3>Leave a comment</h3>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-success btn-sm" disabled>Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
        </div>

            {% include 'webapp/sidebar.html' %}
    </div>

        <script>
            var name = "{{post_id.id}}";
            document.getElementById("elder").value=name;
        </script>
    {% endblock content%}