{% load static %} 
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'webapp/js/jquery.js' %}"></script>
    <script src="{% static 'webapp/js/popper.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap.js' %}"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.mim.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>


    <script>
        jQuery.datetimepicker.setDateFormatter('moment')
        $('#picker').datetimepicker({
            timepicker: true,
            datepicker: true,
            format: 'YYYY-MM-DD h:mm a',  // formatDate
            value: '2020-10-16 10:45',  // Default date
        })
    </script>

