{% extends "webapp/base.html" %}
    {% load crispy_forms_field %}

    {% load crispy_forms_tags %}

    

    {% block content %}
        <div class="container">
            <h3 class="my-5" align='center'>Edit Profile</h3>

            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-6">
                        {{ user_form.username|as_crispy_field }} 
                    </div>

                    <div class="col-6">
                        {{ user_form.email|as_crispy_field }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        {{ user_form.first_name|as_crispy_field }} 
                    </div>

                    <div class="col-6">
                        {{ user_form.last_name|as_crispy_field }}
                    </div>
                </div>

               
                <div class="row">
                    <div class="col-8">
                        {{ profile_form.profile_pic|as_crispy_field }} 
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        {{ profile_form.bio|as_crispy_field }} 
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        {{ profile_form.location|as_crispy_field }}
                    </div>

                    <div type='text' class="col-4" id='datepicker'>
                        {{ profile_form.birth_date|as_crispy_field }}
                    </div>
                </div>
                <button class="btn btn-warning" type="submit">Save changes</button>
            </form>
        </div>
    {% endblock content %}


   <script>
    $('#datepicker').datepicker({
        numberOfMonths:1,
        changeYear:true,
        changeMonth:true,
        minDate: new Date(2010,9,9),
        maxDate: new Date(2021,0,5)
    })
</script>